*{
    box-sizing: border-box;
}

body {
    margin: 5px;
    padding-inline: 3rem;
<<<<<<< HEAD
    background-color: red;
=======
    background-color: blue;
>>>>>>> f188b7e2cec9ffba50f0bdc4dcedc65df55ce882
}
