*{
    box-sizing: border-box;
}

body {
<<<<<<< HEAD
    margin: 10px;
=======
    margin: 5px;
>>>>>>> 6ea210f392651aafaeb9fbb3e99982a73d3cb236
    padding-inline: 3rem;
    background-color: gray;
}
